In [1]:
import pandas as pd
import numpy as np

In [2]:
# you gotta install openpyxl to use pd.ReadExcel I guess

import sys
!{sys.executable} -m pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\envs\scooters\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\envs\scooters\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
# load the master sheet and then split the tabs into separate dataframes

xls = pd.ExcelFile('../data/master_sheet.xlsx')
old_sf = pd.read_excel(xls, 'old superfund sites')
new_sf = pd.read_excel(xls, 'active superfund sites')

In [4]:
top10 = ['WILSON', 'COFFEE', 'SULLIVAN', 'BRADLEY', 'RUTHERFORD', 'WARREN', 'SUMNER', 'LAUDERDALE', 'BLOUNT', 'MCMINN']

In [5]:
old_sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Site Name     29 non-null     object
 1   City          29 non-null     object
 2   State         29 non-null     object
 3   County        29 non-null     object
 4   Site EPA ID   19 non-null     object
 5   Listing Date  19 non-null     datetime64[ns]
 6   Site Score    19 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 1.7+ KB

In [6]:
new_sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 31 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   EPA ID                               54 non-null     object
 1   Site Name                            54 non-null     object
 2   City                                 54 non-null     object
 3   County                               54 non-null     object
 4   State                                54 non-null     object
 5   Street Address                       54 non-null     object
 6   Zip Code                             54 non-null     object
 7   Region                               54 non-null     object
 8   NPL Status                           54 non-null     object
 9   Partial NPL Deletion                 54 non-null     object
 10  Superfund Alternative Approach       54 non-null     object
 11  Site-wide Ready for Anticipated Use  54 non-null     object
 12  Human Exposure Under Control         54 non-null     object
 13  Groundwater Migration Under Control  54 non-null     object
 14  Construction Complete                54 non-null     object
 15  Construction Completion Date         1 non-null      datetime64[ns]
 16  Non-NPL Status Category              53 non-null     object
 17  Non-NPL Status Subcategory           44 non-null     object
 18  Non-NPL Status                       53 non-null     object
 19  Site Status                          54 non-null     object
 20  Site Type                            38 non-null     object
 21  Site Type Subcategory                38 non-null     object
 22  Federal Agency                       7 non-null      object
 23  Native American Interest (NAI)       54 non-null     object
 24  Indian Entity (NAI Status)           0 non-null      float64
 25  HRS Score                            1 non-null      float64
 26  Federal Facility Indicator           54 non-null     object
 27  Alias/Alternative Site Name          15 non-null     object
 28  Non-NPL Status Date                  54 non-null     datetime64[ns]
 29  Superfund Site Profile Page URL      1 non-null      object
 30  RCRA Handler ID - RCRA Handler Name  3 non-null      object
dtypes: datetime64[ns](2), float64(2), object(27)
memory usage: 13.2+ KB

In [7]:
# count how many times the counties in bottom10 appear in old_sf and save it to a dictionary

old_overlap = old_sf['County'][old_sf['County'].isin(top10)].value_counts().to_dict()
old_overlap

{}

In [8]:
new_overlap = new_sf['County'][new_sf['County'].isin(top10)].value_counts().to_dict()
new_overlap

{'SULLIVAN': 8,
 'MCMINN': 6,
 'RUTHERFORD': 6,
 'BLOUNT': 4,
 'LAUDERDALE': 3,
 'BRADLEY': 3,
 'WILSON': 3,
 'COFFEE': 3,
 'SUMNER': 3,
 'WARREN': 1}

Interesting. This means that all of the counties in the top 10 have only recently had Superfund sites established. Let's check the bottom 10.

In [9]:
bottom10 = ['HANCOCK', 'HOUSTON', 'WAYNE', 'BENTON', 'MARION', 'LAKE', 'DYER', 'HENRY', 'GRUNDY', 'FENTRESS']

In [10]:
old_overlap2 = old_sf['County'][old_sf['County'].isin(bottom10)].value_counts().to_dict()
old_overlap2

{}

In [11]:
new_overlap2 = new_sf['County'][new_sf['County'].isin(bottom10)].value_counts().to_dict()
new_overlap2

{'HENRY': 4, 'BENTON': 4, 'WAYNE': 3, 'DYER': 1, 'LAKE': 1}

So, the bottom 10 counties are several underserved. 32 superfund sites vs only 13.